@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: hsl(265, 3%, 53%);
	color: #252525;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Oswald", "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

button {
	font: inherit;
	cursor: pointer;
}
